{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>&nbsp;&nbsp;{{ accinfo[0][0] }}</h3>
      </div>
      <div class="panel-body">
        <p><h4>{{ accinfo[0][5] }}</h4>
          <small><i>
            {% if accinfo[0][4] == "L" %}
            Liability Account
            {% else %}
            Asset Account
            {% endif %}
            <br>Last Operated on: {{ accinfo[0][2] }} &nbsp;&nbsp; Account Created on: {{ accinfo[0][3] }}
          </i></small>
        </p><br>
        <h4><small>Balance</small>
         <span class="label label-default">
           &pound;&nbsp;{{ accinfo[0][1] }}
         </span></h4>
       </div>
     </div>
     <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;Transactions&nbsp;&nbsp;&nbsp;
          {% if transperiod %}
          <small>[{{ transperiod }}]</small>
          {% endif %}
        </h3>
      </div>
      <div class="panel-body">
       <br>
       <div class="row">
         <div class="col-md-4">
           <div class="dropdown">
             <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
               Predefined Period
               <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
               <li><a href="{{ url_for('account_transactions', username=session['username'], accountname=accinfo[0][0], period='PRE_thisweek') }}">This week</a></li>
               <li><a href="{{ url_for('account_transactions', username=session['username'], accountname=accinfo[0][0], period='PRE_lastweek') }}">Last week</a></li>
               <li><a href="{{ url_for('account_transactions', username=session['username'], accountname=accinfo[0][0], period='PRE_last5days') }}">Last 5 days</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="{{ url_for('account_transactions', username=session['username'], accountname=accinfo[0][0], period='PRE_thismonth') }}">This month</a></li>
               <li><a href="{{ url_for('account_transactions', username=session['username'], accountname=accinfo[0][0], period='PRE_lastmonth') }}">Last month</a></li>
               <li><a href="{{ url_for('account_transactions', username=session['username'], accountname=accinfo[0][0], period='PRE_last30days') }}">Last 30 days</a></li>
             </ul>
           </div>
         </div>
         <div class="col-md-4"></div>
         <div class="col-md-4 col-xs-12">
          <div class="row">
            <form method="POST" action="{{ url_for('account_transactions', username=session['username'], accountname=accinfo[0][0], period='selective') }}">
              <div class="col-md-4 col-xs-4">
                <select class="form-control" name="year">
                 {% for y in range(curyear, 2013, -1) %}
                 <option value="{{ y }}">{{ y }}</option>
                 {% endfor %}
               </select>
             </div>
             <div class="col-md-4 col-xs-4">
              <select class="form-control" name="month">
               <option value="01">Jan</option>
               <option value="02">Feb</option>
               <option value="03">Mar</option>
               <option value="04">Apr</option>
               <option value="05">May</option>
               <option value="06">Jun</option>
               <option value="07">Jul</option>
               <option value="08">Aug</option>
               <option value="09">Sep</option>
               <option value="10">Oct</option>
               <option value="11">Nov</option>
               <option value="12">Dec</option>
             </select>
           </div>
           <div class="col-md-4 col-xs-4">
            <button class="btn btn-sm btn-default btn-block" type="submit">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              &nbsp;View
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br><br>
  {% if not transactions %}
  <p>No transactions found for the selected period</p>
  {% endif %}
  {% if transactions %}
  <div class="table-responsive">
   <table class="table table-hover table-striped">
     <thead>
       <tr>
         <th>Date</th>
         <th>Description</th>
         <th>Credit</th>
         <th>Debit</th>
         <th>Category</th>
       </tr>
     </thead>
     <tbody>
       {% for row in transactions %}
       <tr>
         <td>{{ row[0] }}</td>
         <td>{{ row[1] }}</td>
         <td>
          {% if row[2] %}
          <font color="green">&pound;&nbsp;{{ row[2] }}</font>
          {% endif %}
        </td>
        <td>
          {% if row[3] %}
          &pound;&nbsp;{{ row[3] }}
          {% endif %}
        </td>
        <td>{{ row[4] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
{% endif %}
</div>
<!-- /.container -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}