{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<div class="container text-center">
 {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         <div style="margin-top:10px;" class="alert alert-danger" role="alert">
           {{ message }}
         </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default" sytle="width:300px;">
      <div class="panel-heading">
        <h3 class="panel-title">Add a new account</h3>
      </div>
      <div class="panel-body">
        <form method="post" id="accountform" action="{{ url_for('addaccount') }}" class="form-signin" style="width: 300px;">
        <input type="text" class="form-control" name="accountname" placeholder="Account Name" required autofocus><br>
        <input type="text" class="form-control" name="accountbalance" placeholder="Initial Balance" required><br>
        <input type="text" class="form-control" name="accountnotes" placeholder="Account Description" required><br>
        <div class="input-group text-left">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> For savings/current accounts choose Asset.
        </div><br>
        <div class="input-group">
          <span class="input-group-addon">
            <input type="radio" aria-label="..." name="accounttype" value="asset" checked>
          </span>
          <input type="text" class="form-control" aria-label="..." value="Asset" style="width:100px;" disabled>
          <span class="input-group-addon">
            <input type="radio" aria-label="..." name="accounttype" value="liability">
          </span>
          <input type="text" class="form-control" aria-label="..." value="Liability" disabled>
        </div><br>
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" aria-label="..." name="exclude" value="yes">
          </span>
          <input type="text" class="form-control" aria-label="..." value="Exclude from stats" disabled>
        </div><br>
        <button class="btn btn-md btn-primary btn-block" type="submit">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"style="margin-right:10px;"></span>Add Account
        </button>
        </form>
      </div>
    </div>  
  </div>
</div>
<!-- /.container -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}