{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<div class="container text-center">
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <div style="margin-top:10px;" class="alert alert-danger" role="alert">
   {{ message }}
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 <div class="col-md-6 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add a new investment</h3>
    </div>
    <div class="panel-body">
    <form method="POST" action="" class="form-signin">
      <div class="row">
       <div class="col-md-4">
         <input type="text" class="form-control" name="accountid" placeholder="Account ID" required autofocus>
       </div><br class="visible-xs">
       <div class="col-md-4">
         <input type="text" class="form-control" name="folio" placeholder="Folio Number" required>
       </div><br class="visible-xs">
       <div class="col-md-4">
         <input type="text" class="form-control" name="schemecode" placeholder="Scheme Code" required>
       </div>
     </div><br>
     <div class="row">
       <div class="col-md-12">
         <input type="text" class="form-control" name="accountname" placeholder="Investment Account Name" required>
       </div>
     </div><br>
     <div class="row">
       <div class="col-md-6">
         <input type="text" class="form-control" name="company" placeholder="Investment Company" required>
       </div><br class="visible-xs">
       <div class="col-md-6">
         <input type="text" class="form-control" name="plan" placeholder="Investment Plan" required>
       </div>
     </div><br>
     <div class="row">
       <div class="col-md-6">
         <input type="text" class="form-control" name="email" placeholder="Email" required>
       </div><br class="visible-xs">
       <div class="col-md-6">
         <input type="text" class="form-control" name="phone" placeholder="Phone Number" required>
       </div>
     </div><br>
     <div class="row">
       <div class="col-md-12">
        <input type="text" class="form-control" name="address" placeholder="Address linked with this investment" required>
      </div>
    </div><br>
    <div class="row">
     <div class="col-md-12">
      <input type="text" class="form-control" name="bank" placeholder="Bank account linked with this investment" required>
    </div>
  </div><br>
  <div class="row">
   <div class="col-md-6">
    <div class="input-group">
     <span class="input-group-addon" id="basic-addon1">SIP Start&nbsp;</span>
     <input type='text' class="form-control" name="sipstart" id="datepicker">
   </div>
  </div><br class="visible-xs">
  <div class="col-md-6">
    <div class="input-group">
     <span class="input-group-addon" id="basic-addon1">SIP Close</span>
     <input type='text' class="form-control" name="sipend" id="datepicker1">
   </div>
  </div>
  </div><br>
  <div class="row">
   <div class="col-md-12">
    <input type="text" class="form-control" name="url" placeholder="URL for online management if any">
  </div>
  </div><br>
  <div class="row">
   <div class="col-md-6">
     <input type="text" class="form-control" name="urluser" placeholder="URL username">
   </div><br class="visible-xs">
   <div class="col-md-6">
     <input type="text" class="form-control" name="urlpass" placeholder="URL password">
   </div>
  </div><br>
  <div class="row">
   <div class="col-md-12">
    <input type="text" class="form-control" name="notes" placeholder="Notes/comments">
  </div>
  </div><br>
  <div class="row">
   <div class="col-md-6">
    <button class="btn btn-md btn-primary btn-block" type="submit">
     <span class="glyphicon glyphicon-plus" aria-hidden="true"style="margin-right:10px;"></span>Add Investment
   </button>
  </div>
  <div class="col-md-6">
    <a class="btn btn-primary btn-block" href="{{ url_for('investments') }}" role="button">
      <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
      &nbsp;Back to Investment Dashboard
    </a>
  </div>
  </div>
  </form>
</div>  
</div>
</div>
<!-- /.container -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}