{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<div class="container text-center">
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <div style="margin-top:10px;" class="alert alert-danger" role="alert">
   {{ message }}
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 {% if accounts %}
 <div class="col-md-5 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add SIP Transaction</h3>
    </div>
    <div class="panel-body">
    <form method="POST" action="" class="form-signin">
      <div class="row">
       <div class="col-md-12">
         <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Select&nbsp;&nbsp;</span>
          <select class="form-control" name="accid">
            {% for account in accounts %}
            <option value="{{ account[0] }}">{{ account[0] }} - {{ account[1] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div><br>
    <div class="row">
     <div class="col-md-6">
       <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Amount</span>
        <input type="text" class="form-control" name="amount" placeholder="0.00" required><br>
      </div>
    </div><br class="visible-xs">
    <div class="col-md-6">
     <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Units&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <input type="text" class="form-control" name="units" placeholder="0.00" required><br>
    </div>
  </div>
  </div><br>
  <div class="row">
   <div class="col-md-6">
    <div class="input-group">
     <span class="input-group-addon" id="basic-addon1">
       Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     </span>
     <input type='text' class="form-control" name="sipdate" id="datepicker" style="width:135px;">
   </div>
  </div>
  </div><br>
  <div class="row">
   <div class="col-md-6">
    <button class="btn btn-primary btn-block" type="submit">
     <span class="glyphicon glyphicon-plus" aria-hidden="true"style="margin-right:10px;"></span>Add SIP Transaction
   </button>
  </div>
  <div class="col-md-6">
    <a class="btn btn-primary btn-block" href="{{ url_for('investments') }}" role="button">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    &nbsp;&nbsp;Back to Investments</a>
  </div>
  </div>
  </form>
</div>
</div>
{% endif %}
</div>
<!-- /.container -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}