{% extends "base.html" %}
{% block body %}
{% include "navbar_admin.html" %}
<!-- Page Content -->
<div class="container text-center">
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <div style="margin-top:10px;" class="alert alert-danger" role="alert">
   {{ message }}
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 <div class="col-md-8 col-md-offset-4">
  <form method="post" action="/adduser" class="form-signin" style="width: 300px;">
    <h3 class="form-signin-heading" style="margin-bottom:25px;">Add new user</h3>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Name</span>
      <input type="text" class="form-control" name="name" placeholder="Your Name" required autofocus><br>
    </div><br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input type="text" class="form-control" name="username" placeholder="Username" required><br>
    </div><br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Password</span>
      <input type="password" class="form-control" name="password" placeholder="Password" required><br>
    </div><br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Email</span>
      <input type="text" class="form-control" name="email" placeholder="Email Address" required><br>
    </div><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      <span class="glyphicon glyphicon-log-in" aria-hidden="true"style="margin-right:10px;"></span>Add User
    </button>
  </form>
</div>
</div>
<!-- /.container -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}