{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<!-- Base container start -->
<div class="container">
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <div style="margin-top:10px;" class="alert alert-danger" role="alert">
   {{ message }}
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 <p class="text-center"><center><h3>Category Stats</h3>
 </center></p><br>
 <!-- First row start-->
 <div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Category Stats</h3>
    </div>
    <div class="panel-body">
     {% if categories %}
     <div class="row">
       <div class="col-md-3">
         <form method="POST" action="">
           <div class="input-group">
             <span class="input-group-addon" id="basic-addon1">Category</span>
             <select class="form-control" name="statcategory" onchange="this.form.submit()">
               <option selected disabled>Select</option>
               <option disabled>Expense Categories</option>
               {% for item in categories[1] %}
               <option value="{{ item }}">{{ item }}</option>
               {% endfor %}
               <option disabled>Income Categories</option>
               {% for item in categories[0] %}
               <option value="{{ item }}">{{ item }}</option>
               {% endfor %}
             </select>
           </div>
         </form>
       </div>
     </div><br>
     {% endif %}
     <div class="row">
      <div class="col-md-9">
        {% if categoryStatsGraph %}
        <embed type="image/svg+xml" src={{categoryStatsGraph|safe}} style='max-width:1000px'/>
        {% endif %}
      </div>
      <div class="col-md-3">
        {% if categoryStatsData %}
        <div class="table-responsive">
         <table class="table table-striped">
           <tbody>
            <tr><th scope="row">Total</th><td>&pound;&nbsp;{{ categoryStatsData[0] }}</td></tr>
            <tr><th scope="row">Monthly Avg</th><td>&pound;&nbsp;{{ categoryStatsData[1] }}</td></tr>
            <tr><th scope="row">Highest</th>
              <td>&pound;&nbsp;{{ categoryStatsData[2][1] }}
                <br><font color="gray"><em>{{ categoryStatsData[2][0] }}</em></font>
              </td>
            </tr>
            <tr><th scope="row">Lowest</th>
              <td>&pound;&nbsp;{{ categoryStatsData[3][1] }}
                <br><font color="gray"><em>{{ categoryStatsData[3][0] }}</em></font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
  {% if categoryStatsGraphYearly %}
  <div class="row">
   <div class="col-md-9">
     <embed type="image/svg+xml" src={{categoryStatsGraphYearly|safe}} style='max-width:1000px'/>
   </div>
   <div class="col-md-3">
     {% if categoryStatsDataYearly %}
     <div class="table-responsive">
       <table class="table table-striped">
         <tbody>
          <tr><th scope="row">Total</th><td>&pound;&nbsp;{{ categoryStatsDataYearly[0] }}</td></tr>
          <tr><th scope="row">Yearly Avg</th><td>&pound;&nbsp;{{ categoryStatsDataYearly[1] }}</td></tr>
          <tr><th scope="row">Highest</th>
            <td>&pound;&nbsp;{{ categoryStatsDataYearly[2][1] }}
              <br><font color="gray"><em>{{ categoryStatsDataYearly[2][0] }}</em></font>
            </td>
          </tr>
          <tr><th scope="row">Lowest</th>
            <td>&pound;&nbsp;{{ categoryStatsDataYearly[3][1] }}
              <br><font color="gray"><em>{{ categoryStatsDataYearly[3][0] }}</em></font>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endif %}
  </div> 
</div>
{% if categoryAllGraph %}
<div class="row">
  <div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Category Stats all Year since beginning</h3>
    </div>
    <div class="panel-body">
      <embed type="image/svg+xml" src={{categoryAllGraph|safe}} style='max-width:1000px'/>
    </div>
  </div>
  </div>
</div>
{% endif %}
{% endif %}
</div>
</div>
</div>
<!-- First row end-->
</div>
<!-- Base container end -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}
