{% extends "base.html" %}
{% block body %}
{% if username == "admin" %}
  {% include "navbar_admin.html" %}
{% else %}
  {% include "navbar_user.html" %}
{% endif %}
<!-- Page Content -->
<div class="container text-center">
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <div style="margin-top:10px;" class="alert alert-danger" role="alert">
   {{ message }}
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 <div class="col-md-8 col-md-offset-4">
  <form method="post" action="/changePass" class="form-signin" style="width: 300px;">
    <h3 class="form-signin-heading" style="margin-bottom:25px;">Change Password</h3>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Old Password&nbsp;</span>
      <input type="password" class="form-control" name="currentpw" placeholder="Old Password" required autofocus><br>
    </div><br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">New Password</span>
      <input type="password" class="form-control" name="newpw" placeholder="New Password" required><br>
    </div><br>
    <button class="btn btn btn-primary btn-block" type="submit">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"style="margin-right:10px;"></span>Change Password
    </button>
  </form>
</div>
</div>
<!-- /.container -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}
