
{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<div class="container"> <!-- Container div start -->
  <!-- Panel start  -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Currency Rates</h3>
    </div>
    <!-- Panel Body start -->
    <div class="panel-body">
     <form method="post" action="">
      <div class="row">
        <div class="col-md-8">
          <div class="input-group">
           <input type="text" class="form-control" style="width:125px;margin-right:5px;" name="amount" placeholder="0.00" required>
           <select class="form-control" name="fromcur" style="width:80px;margin-right:5px;">
            <option value="" disabled selected>From</option>
            {% if currencyList %}
            {% for currency in currencyList %}
            <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
            {% endif %}
          </select>
          <select class="form-control" name="tocur" style="width:80px;margin-right:5px;">
            <option value="" disabled selected>To</option>
            {% if currencyList %}
            {% for currency in currencyList %}
            <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
            {% endif %}
          </select>
          <button class="btn btn-md btn-primary" type="submit">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </div>
        <br>
        {% if conversion_result %}
        <h3><span class="label label-default">{{ conversion_result }}</span></h3>
        {% endif %}
      </div>
    </div>
  </form>
</div>
<!-- Panel Body end -->
</div>
<!-- Panel end -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div style="margin-top:10px;" class="alert alert-danger" role="alert">
 {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
</div>
<!-- Container div end -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}