{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<!-- Base container start -->
<div class="container">
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <div style="margin-top:10px;" class="alert alert-danger" role="alert">
   {{ message }}
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 <p class="text-center"><center><h3>Current vs Previous Month Expenses</h3>
 </center></p><br>
<!-- Second row start -->
<div class="row">
  <!-- Current month expense start -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Current month - Expense Stats</h3>
      </div>
      <div class="panel-body">
        {% if curmnthexpenses %}
        {% set total = [0.00] %}
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Category</th>
                <th>Expense</th>
              </tr>
            </thead>
            <tbody>
              {% for row in curmnthexpenses %}
              {% if total.append(total.pop() + row[1]|float) %}{% endif %}
              <tr>
                <td>{{ row[0] }}</td>
                <td>&pound;&nbsp;{{ row[1] }}</td>
              </tr>
              {% endfor %}
              <tr>
                <th>Total</th>
                <th>&pound;&nbsp;{{ total[0] }}</th>
              </tr>
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Current month expense end -->
  <!-- Previous month expense start -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Previous month - Expense Stats</h3>
      </div>
      <div class="panel-body">
        {% if prevmnthexpenses %}
        {% set total = [0.00] %}
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Category</th>
                <th>Expense</th>
              </tr>
            </thead>
            <tbody>
              {% for row in prevmnthexpenses %}
              {% if total.append(total.pop() + row[1]|float) %}{% endif %}
              <tr>
                <td>{{ row[0] }}</td>
                <td>&pound;&nbsp;{{ row[1] }}</td>
              </tr>
              {% endfor %}
              <tr>
                <th>Total</th>
                <th>&pound;&nbsp;{{ total[0] }}</th>
              </tr>
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Previous month expense end -->  
</div>
<!-- Second row end -->
</div>
<!-- Base container end -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}