{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<div class="container">
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <div style="margin-top:10px;" class="alert alert-danger" role="alert">
   {{ message }}
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 <div class="jumbotron text-center">
  <h3>Welcome {{ session['user'] }}!</h3>
  {% if jumbomessage %}
  {% for message in jumbomessage %}
  <p><small><font color="gray">{{ message }}</font></small></p>
  {% endfor %}
  {% endif %}
  <div class="visible-sm-block visible-md-block visible-lg-block">
   <p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-signal" aria-hidden="true" style="margin-right:10px;"></span>View Reports 
        <span class="caret" style="margin-left:5px;"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{{ url_for('curvsprevexpenses') }}">Current vs Previous</a></li>
        <li><a href="{{ url_for('categorystats') }}">Category Stats</a></li>
        <li><a href="{{ url_for('yearataglance') }}">Year at a glance</a></li>
      </ul>
    </div>    
    <a class="btn btn-sm btn-primary" href="{{ url_for('addaccount') }}" role="button">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Add account</a>
    <a class="btn btn-sm btn-primary" href="{{ url_for('investments') }}" role="button">
      <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>&nbsp;&nbsp;Investments</a>
    <a class="btn btn-sm btn-primary" href="{{ url_for('currencyrates') }}" role="button">
      <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>&nbsp;Currency Rates</a>
    <a class="btn btn-sm btn-primary" href="{{ url_for('messages') }}" role="button">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;Message Inbox
      {% if unread %}<span class="badge">{{ unread }}</span>{% endif %}
    </a>
   </p>
  </div>
 </div>
 <!-- If accounts found, list them in a table -->
 {% if accounts %}
 <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title">Your Accounts at a glance</h3>
  </div>
  <div class="panel-body">
   {% if networth %}<h4>
     <small>Networth</small>
     <span class="label label-default">
       &pound;&nbsp;{{ networth }}
     </span></h4><br>
     {% endif %}
     <div class="table-responsive">
       <table class="table table-hover">
         <thead>
           <tr>
             <th>Account</th>
             <th>Balance</th>
             <th>Last Operated</th>
             <th class="hidden-xs">Active Since</th>
           </tr>
         </thead>
         <tbody>
           {% for account in accounts %}
           <tr>
             <td>
               <a href="{{ url_for('account_transactions', username=session['username'], accountname=account[0], period='normal') }}">
                 {{ account[0] }}
               </a>
             </td>
             <td>
              {% if 'L' in account[4] %}
              <font color="red">&pound;&nbsp;{{ account[1] }}</font>
              {% else %}
              &pound;&nbsp;{{ account[1] }}
              {% endif %}
            </td>
            <td>{{ account[2] }}</td>
            <td class="hidden-xs">{{ account[3] }}</td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
      <div class="visible-md-block visible-lg-block">
        <p>
          <a class="btn btn-default" href="{{ url_for('addtransaction') }}" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Record a new transaction</a>
            <a class="btn btn-default" href="{{ url_for('transferfunds') }}" role="button">
              <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>&nbsp;&nbsp;Transfer Funds between accounts</a>
              <a class="btn btn-default" href="{{ url_for('search') }}" role="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;Search or List Transactions</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title"> [Monthly] Income/Expense Trend since beginning</h3>
       </div>
       <div class="panel-body">
         {% if inexAllGraph %}
         <embed type="image/svg+xml" src={{inexAllGraph|safe}} style='max-width:1000px'/>
         {% endif %}
       </div>
      </div>
      <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title"> [Yearly] Income/Expense Trend since beginning</h3>
       </div>
       <div class="panel-body">
         {% if inexAllGraph %}
         <embed type="image/svg+xml" src={{inexYearlyAllGraph|safe}} style='max-width:1000px'/>
         {% endif %}
       </div>
      </div>
      <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title"> Expense Trend since beginning</h3>
       </div>
       <div class="panel-body">
         {% if exAllGraph %}
         <embed type="image/svg+xml" src={{exAllGraph|safe}} style='max-width:1000px'/>
         {% endif %}
       </div>
      </div>
     {% endif %}
   </div>
   <!-- /.container -->
  {% endblock %}
  
  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}
