{% extends "base.html" %}
{% block body %}
{% include "navbar_admin.html" %}
<!-- Page Content -->
<div class="container text-center">
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <div style="margin-top:10px;" class="alert alert-danger" role="alert">
   {{ message }}
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 <p class="lead">Admin Dashboard</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Manage Users</h3>
        </div>
        <div class="panel-body">
          <p>Add a new MyBanker user here.<br>
          To edit an existing user, click on List Users where you will be able to edit individual users.</p>
          <a class="btn btn-primary btn-sm" href="{{ url_for('adduser') }}" role="button">Add User</a>&nbsp;&nbsp;
          <a class="btn btn-primary btn-sm" href="{{ url_for('listuser') }}" role="button">List Users</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Manage Transaction Categories</h3>
        </div>
        <div class="panel-body">
          <p>View or add more transaction categories here.<br>
          Please make sure to appropriately select the category type that you are adding.</p>
          <a class="btn btn-primary btn-sm" href="{{ url_for('managecategories') }}" role="button">Manage Categories</a>&nbsp;&nbsp;
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Change Admin Password</h3>
        </div>
        <div class="panel-body">
          <p>Admin user has full privilege to control MyBanker application completely<br>
          Make sure to secure it with a good password</p>
          <a class="btn btn-primary btn-sm" href="{{ url_for('changePass') }}" role="button">Change password</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
  {% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}
