{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<div class="container text-center">
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <div style="margin-top:10px;" class="alert alert-danger" role="alert">
   {{ message }}
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 <div class="col-md-6 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit Investment</h3>
    </div>
    {% if acc_details %}
    <div class="panel-body">
      <form method="POST" action="{{ url_for('editinvestment') }}" class="form-signin">
        <div class="row">
         <div class="col-md-4">
           <input type="text" class="form-control" name="accountid" value="{{ acc_details[0][0] }}" title="Account ID" readonly required>
         </div><br class="visible-xs">
         <div class="col-md-4">
           <input type="text" class="form-control" name="folio" value="{{ acc_details[0][4] }}" title="Folio Number" readonly required>
         </div><br class="visible-xs">
         <div class="col-md-4">
           <input type="text" class="form-control" name="schemecode" value="{{ acc_details[0][5] }}" title="Scheme Code" readonly required>
         </div>
       </div><br>
       <div class="row">
         <div class="col-md-12">
           <input type="text" class="form-control" name="accountname" value="{{ acc_details[0][2] }}" title="Investment Name" required>
         </div>
       </div><br>
       <div class="row">
         <div class="col-md-6">
           <input type="text" class="form-control" name="company" value="{{ acc_details[0][6] }}" title="Investment Company" required>
         </div><br class="visible-xs">
         <div class="col-md-6">
           <input type="text" class="form-control" name="plan" value="{{ acc_details[0][3] }}" title="Investment Plan" required>
         </div>
       </div><br>
       <div class="row">
         <div class="col-md-6">
           <input type="text" class="form-control" name="email" value="{{ acc_details[0][7] }}" title="Registered Email" required>
         </div><br class="visible-xs">
         <div class="col-md-6">
           <input type="text" class="form-control" name="phone" value="{{ acc_details[0][8] }}" title="Phone" required>
         </div>
       </div><br>
       <div class="row">
         <div class="col-md-12">
          <input type="text" class="form-control" name="address" value="{{ acc_details[0][9] }}" title="Registered Address" required>
        </div>
      </div><br>
      <div class="row">
       <div class="col-md-12">
        <input type="text" class="form-control" name="bank" value="{{ acc_details[0][10] }}" title="Registered Bank" required>
      </div>
    </div><br>
    <div class="row">
     <div class="col-md-6">
      <div class="input-group">
       <span class="input-group-addon" id="basic-addon1">SIP Start&nbsp;</span>
       <input type='text' class="form-control" name="sipstart" value="{{ acc_details[0][11] }}">
     </div>
    </div><br class="visible-xs">
    <div class="col-md-6">
      <div class="input-group">
       <span class="input-group-addon" id="basic-addon1">SIP Close</span>
       <input type='text' class="form-control" name="sipend" value="{{ acc_details[0][12] }}">
     </div>
    </div>
    </div><br>
    <div class="row">
     <div class="col-md-12">
      <input type="text" class="form-control" name="url" value="{{ acc_details[0][17] }}" title="Link to Online Login">
    </div>
    </div><br>
    <div class="row">
     <div class="col-md-6">
       <input type="text" class="form-control" name="urluser" value="{{ acc_details[0][18] }}" title="Online Login Username">
     </div><br class="visible-xs">
     <div class="col-md-6">
       <input type="text" class="form-control" name="urlpass" value="{{ acc_details[0][19] }}" title="Online Login Password">
     </div>
    </div><br>
    <div class="row">
     <div class="col-md-12">
      <input type="text" class="form-control" name="notes" value="{{ acc_details[0][20] }}" title="Notes or Comments">
    </div>
    </div><br>
    <div class="row">
     <div class="col-md-6">
      <button class="btn btn-md btn-primary btn-block" type="submit">
       <span class="glyphicon glyphicon-plus" aria-hidden="true"style="margin-right:10px;"></span>Update Investment
     </button>
    </div>
    <div class="col-md-6">
      <a class="btn btn-primary btn-block" href="{{ url_for('investments') }}" role="button">
        <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
        &nbsp;Back to Investment Dashboard
      </a>
      </div>
    </div>
    </form>
    {% endif %}
  </div>  
</div>
</div>
<!-- /.container -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}