{% extends "base.html" %}
{% block body %}
{% include "navbar_initial.html" %}
<!-- Page Content -->
<div class="container">
  <div class="row">
   <div class="col-lg-12 text-center">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Welcome! Ready to configure MyBanker?</h2>
    <br>
    <p class="lead">First Time Setup</p>
    <p>
      Please create a mysql database and update just the database section in <strong>config.py</strong> at the root of your web installation. 
      <br>Click continue if you have already done it.
    </p>
    <br><br>
    <a class="btn btn-primary btn-lg" href="/setup" role="button">Continue</a>
  </div>
</div>
</div>
<!-- /.container -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}