{% extends "base.html" %}
{% block body %}
{% include "navbar_initial.html" %}
<!-- Page Content -->
<div class="container">
  <div class="row">
   <div class="col-lg-12 text-center">
    <h2>You are ready to go!</h2>
    <br>
    <p class="lead">One final stuff to consider</p>
    <p>Please login to admin account and create users. Username and password for the admin account is <strong>admin</strong> and <strong>mybanker</strong>. Please change admin password when you login</p>
    <br><br>
    <a class="btn btn-primary btn-lg" href="{{ url_for('index') }}" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> &nbsp;Login in to MyBanker</a>
  </div>
</div>
</div>
<!-- /.container -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}