
{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<div class="container"> <!-- Container div start -->
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <div style="margin-top:10px;" class="alert alert-danger" role="alert">
   {{ message }}
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 <!-- Search Panel start  -->
 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search transactions</h3>
  </div>
  <!-- Panel Body start -->
  <div class="panel-body">
    <!-- First row start -->
    <div class="row">
      <form method="POST" action="">
        <div class="col-md-4 col-xs-9">
          <input type="text" class="form-control" name="keyword" placeholder="Enter keywords to search" required>
        </div>
        <div class="col-md-4 col-xs-3">
          <button class="btn btn-default" type="submit" name="searchForm" value="search">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </div>
        <div class="col-md-4"></div>
      </form>
    </div>
    <!-- First row end-->
    {% if searchresults %}
    <!-- Second row start -->
    <br>
    Search returned {{ searchresults|length }} transactions
    <br><br>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Credit</th>
                <th>Debit</th>
                <th>Category</th>
                <th>Account</th>
              </tr>
            </thead>
            <tbody>
              {% for row in searchresults %}
              <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>
                  {% if row[2] %}
                  <font color="green">&pound;&nbsp;{{ row[2] }}</font>
                  {% endif %}
                </td>
                <td>
                  {% if row[3] %}
                  &pound;&nbsp;{{ row[3] }}
                  {% endif %}
                </td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Second row end -->
    {% endif %}
  </div>
  <!-- Panel Body end -->
</div>
<!-- Search Panel end -->
<!-- List panel start -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">List Transactions for a category</h3>
  </div>
  <!-- List Panel Body start -->
  <div class="panel-body">
    {% if categories %}
    <div class="row">
      <div class="col-md-8">
       <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
       <font color="gray"><i>To see last 20 transactions, just select a category and click View Transactions</i></font>
      </div>
    </div>
    <br>
    <div class="row">
      <form method="POST" action="">
        <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Category</span>
          <select class="form-control" name="listcategory">
            <option selected>Select</option>
            <option disabled>Expense Categories</option>
            {% for item in categories[1] %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
            <option disabled>Income Categories</option>
            {% for item in categories[0] %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>
        </div>
        </div><br class="visible-xs">
        <div class="col-md-2">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
          <select class="form-control" name="period">
            <option selected value="Select">Select</option>
            <option value="thisweek">This week</option>
            <option value="lastweek">Last week</option>
            <option value="last5days">Last 5 days</option>
            <option value="thismonth">This month</option>
            <option value="lastmonth">Last month</option>
            <option value="last30days">Last 30 days</option>
          </select>
        </div>
        </div><br class="visible-xs">
        <div class="col-md-2">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Year</span>
          <select class="form-control" name="year">
            <option selected value="Select">Select</option>
            {% for y in range(curyear, 2013, -1) %}
            <option value="{{ y }}">{{ y }}</option>
            {% endfor %}
          </select>
        </div>
        </div><br class="visible-xs">
        <div class="col-md-2">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Month</span>
          <select class="form-control" name="month">
           <option selected value="Select">Select</option>
           <option value="01">Jan</option>
           <option value="02">Feb</option>
           <option value="03">Mar</option>
           <option value="04">Apr</option>
           <option value="05">May</option>
           <option value="06">Jun</option>
           <option value="07">Jul</option>
           <option value="08">Aug</option>
           <option value="09">Sep</option>
           <option value="10">Oct</option>
           <option value="11">Nov</option>
           <option value="12">Dec</option>
         </select>
       </div>
        </div><br class="visible-xs">
        <div class="col-md-2">
          <button class="btn btn-sm btn-default btn-block" type="submit" name="searchForm" value="list">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          &nbsp;&nbsp;List Transactions
          </button>
        </div>
      </form>
    </div>
    <br>
{% endif %}
{% if listresults %}
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          {% for row in listresults %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>
              {% if row[2] %}
              <font color="green">&pound;&nbsp;{{ row[2] }}</font>
              {% endif %}
            </td>
            <td>
              {% if row[3] %}
              &pound;&nbsp;{{ row[3] }}
              {% endif %}
            </td>
            <td>{{ row[4] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}
</div>
<!-- List Panel Body end -->
</div>
<!-- List Panel end -->
</div>
<!-- Container div end -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}