{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<div class="container"> <!-- Container div start -->
 {% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
 <div style="margin-top:10px;" class="alert alert-danger" role="alert">
   {{ message }}
 </div>
 {% endfor %}
 {% endif %}
 {% endwith %}
 <!-- Column div start -->
 <div class="col-md-4 col-md-offset-4"> 
  <!-- Panel start  -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Transfer funds between accounts</h3>
    </div>
    <!-- Panel Body start -->
    <div class="panel-body">
     <form method="POST" action="">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">From Account</span>
        <select class="form-control" name="fromaccount">
          {% for item in accounts %}
          <option value="{{ item[0] }}">{{ item[0] }}</option>
          {% endfor %}
        </select>
      </div><br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">To Account&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <select class="form-control" name="toaccount">
          {% for item in accounts %}
          <option value="{{ item[0] }}">{{ item[0] }}</option>
          {% endfor %}
        </select>
      </div><br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">£</span>
        <input type="text" class="form-control" style="width:130px;" name="amount" placeholder="0.00" required>
      </div><br>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <input type='text' class="form-control" name="date" id="datepicker" style="width:125px;">
      </div><br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Notes</span>
        <input type="text" class="form-control" name="notes" placeholder="Description" required>
      </div><br>
      <button class="btn btn-md btn-primary btn-block" type="submit">
       <span class="glyphicon glyphicon-send" aria-hidden="true"style="margin-right:10px;"></span>
       Transfer Funds
     </button>
   </form>
 </div>
 <!-- Panel Body end -->
</div>
<!-- Panel end -->
</div>
<!-- Column div end -->
</div>
<!-- Container div end -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}