{% extends "base.html" %}
{% block body %}
{% include "navbar_user.html" %}
<!-- Page Content -->
<!-- Base container start -->
<div class="container">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div style="margin-top:10px;" class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <p class="text-center"><center><h3>Year at a glance</h3></center></p><br>

  <!-- First Row Start -->
  <div class="row">
    <div class="col-md-3">
      <form method="POST" action="">
        <select class="form-control" name="year" onchange="this.form.submit()" style="width:125px;">
          <option selected disabled>Select year</option>
          {% for y in range(curyear, 2013, -1) %}
            <option value="{{ y }}">{{ y }}</option>
          {% endfor %}
        </select>
      </form>
    </div>
  </div><br>
  <!-- First Row End  -->

  <!-- Second Row Start  -->
  <div class="row">
    <!-- Expense table start -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ year }} - Category wise Expenses</h3>
        </div>
        <div class="panel-body" style="max-height:500px; overflow-y: scroll;">
          {% if yearexpenses %}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Expense</th>
                  <th>Monthly Avg</th>
                </tr>
              </thead>
              <tbody>
                {% for row in yearexpenses %}
                  <tr>
                    <td>{{ row[0] }}</td>
                    <td>&pound;&nbsp;{{ row[1] }}</td>
                    <td>&pound;&nbsp;{{ '%0.2f' % (row[1]/12)|float }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>          
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Expense table End -->
    <!-- Expense Bar Chart Start -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ year }} - Expense Stats Bar</h3>
        </div>
        <div class="panel-body" style="max-height: 500px; overflow-y: scroll;">
          <embed type="image/svg+xml" src={{expenseBarGraph|safe}} style='max-width:1000px'/>
        </div>
      </div>
    </div>
    <!-- Expense Bar Chart End -->
  </div>
  <!-- Second Row End -->

  <!-- Third Row Start -->
  <div class="row">
    <!-- Income Trend Panel start -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ year }} - Income/Expense Trend</h3>
        </div>
        <div class="panel-body">
          <embed type="image/svg+xml" src={{inexGraph|safe}} style='max-width:1000px'/>
        </div>
      </div>
    </div>
    <!-- Income Trend Panel end -->
    <!-- Expense Trend Panel start -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ year }} - Expense Stats</h3>
        </div>
        <div class="panel-body">
          <embed type="image/svg+xml" src={{expenseGraph|safe}} style='max-width:1000px'/>
        </div>
      </div>
    </div>
    <!-- Expense Trend Panel end -->
  </div>
  <!-- Third Row End -->
</div>
<!-- Base container end -->
{% endblock %}
{% block footer %}
  {% include "footer.html" %}
{% endblock %}
